/* English Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");

/* Arabic font  */
@font-face {
  font-family: "PingAR LT";
  src: url("./assets/fonts/ping-font/PingAR+LT-Black.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "PingAR LT";
  src: url("./assets/fonts/ping-font/PingAR+LT-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "PingAR LT";
  src: url("./assets/fonts/ping-font/PingAR+LT-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "PingAR LT";
  src: url("./assets/fonts/ping-font/PingAR+LT-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "PingAR LT";
  src: url("./assets/fonts/ping-font/PingAR+LT-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "PingAR LT";
  src: url("./assets/fonts/ping-font/PingAR+LT-Black.otf") format("opentype");
  font-weight: 900;
}

/* Tailwind Base */
@import "tailwindcss";

@theme {
  --font-main: "Montserrat", sans-serif;
  --font-sub: "Delius", cursive;
  --font-arabic: "PingAR LT";

  --color-main: #ff0000;
}

.text-color {
  background: linear-gradient(277.14deg, #ff770b 19.91%, #ff0000 95.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  override-colors: transparent;
}

/* === Custom Scrollbar === */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

/* === Custom Animations === */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
