# Ignore all node_modules folders
**/node_modules/

# Ignore client build output
/client/dist/

# Ignore uploaded JPEGs in nested folders under server/uploads/
server/uploads/*/*.jpeg
server/uploads/*/*.gif

# Ignore .env file
/server/.env.local
/client/.env.local

/client/.env
/server/.env

/deploy.sh
